repos:
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.7
        exclude: ^.*\b(migrations)\b.*$
  - repo: https://github.com/pycqa/pylint
    rev: pylint-2.6.0
    hooks:
      - id: pylint
        additional_dependencies: [django, pylint-django]
        args: [--disable=all, --enable=unused-import]